<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/user/regist" method="post">
        用户名:<input name="userName" type="text"/><br>
        密码:<input name="userPassword" type="password"> <br>
<!--        性别：<select name="userGender">-->
<!--                <option value="male">男</option>-->
<!--                <option value="female">女</option>-->
<!--            </select><br>-->

        邮箱：<input name="userEmail" type="text"/><br>
<!--        出生日期：<input name="userBirthday" type="date"/><br>-->
<!--        手机号：<input name="userPhoneNumber" type="text"/><br>-->
        验证码：<input name="emailCode" type="text"/><br>
        <input type="submit" value="注册">
    </form>
</body>
</html>