<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
</head>
<body>
<h3>上传文件</h3>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="videoToUpload">
    <input type="submit" value="上传文件">
</form>

<video id="v1" controls="controls">
    <source src="‪C:\Users\24113\Desktop\video1.mp4", type="video/mp4">
</video>
<button onclick="playPause()">p</button>

<script>
    var myVideo = document.getElementById("v1");
    function playPause() {
        if (myVideo.onpause) myVideo.onplay;
        else myVideo.onpause;
    }
</script>

</body>
</html>